extends ../layout

block content
  if questions
    form.bg-white.w-full.rounded-lg.overflow-hidden.mx-auto.mt-4(
      method='post',
      class='shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] font-[sans-serif]'
    )
      .p-6.w-full
        .pb-2
          .text-3xl.text-center #{ exam.name }
          .flex.justify-between
            .text-sm.text-gray-600 #{ t('exam.total') }: #{ questions.length }
            //- .text-sm.text-gray-600 #{ t('exam.time') }: 20:00
        p.mt-2.text-sm.text-gray-500.leading-relaxed
          each question, index in questions
            .mb-6
              p.mt-2 #{ index + 1 }. #{ question.content }
            each option, index in question.options? question.options : ['There are no option!']
              .mb-4.flex.gap-2
                input(type='radio', name=question.id, value=option.id)
                div #{ option.content }
        .flex.justify-center
          button.mt-4.px-5.rounded-lg.text-white.text-sm.tracking-wider.border-none.outline-none.bg-blue-600(
            type='submit',
            class='py-2.5 hover:bg-blue-700'
          ) #{ t('common.submit') }
